<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>使用者</title>
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <table style="border:3px #cccccc solid;" cellpadding="10" border='1'>

        <tbody>
            <script>
                var DateDiff = function (sDate1, sDate2) {
                    //var oDate1 = new Date(sDate1);
                    var oDate2 = new Date(sDate2);
                    var iDays = parseInt(Math.abs(sDate1 - oDate2) / 1000 / 60 / 60 / 24 / 365);
                    return iDays;
                };
                $.ajax({
                    type: "post",
                    url: '/detail_data',
                    dataType: "json",
                    success: function(result) {
                        var str = "<thead>" +
                                    "<td>姓名</td>" +
                                    "<td>年紀</td>" +
                                    "<td>BMI</td>" +
                                "</thead>";
                        $.each(result,function(i,items){
                            str+="<tr>";
                            if(items.gender=="M"){
                                str+="<td><span style='color:blue'>"+items.name+"</span></td>";
                            }else{
                                str+="<td><span style='color:red'>"+items.name+"</span></td>";
                            }

                            var birth = items.birthday;
                            if(birth==null){
                                str+="<td>不明</td>";
                            }else{
                                var d = new Date();
                                var n = d.getTime();
                                str+="<td>"+DateDiff(n,birth)+"</td>";
                            }

                            var weight = items.weight;
                            var height = items.height;
                            if(weight==null || height==null){
                                str+="<td>不明</td>";
                            }else{
                                height = height/100;
                                var bmi = weight/(height*height);
                                bmi = bmi.toFixed(2);
                                str+="<td>"+bmi+"</td>";
                            }

                            str+="</tr>";
                        });
                        $("tbody").append(str);
                    },
                    fail: function(){
                        $("body").append("讀取失敗");
                    }
                })
            </script>
        </tbody>

    </table>




</body>
</html>