<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>使用者</title>
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <table>
        <tr>
            <td>姓名</td>
            <td>年紀</td>
            <td>BMI</td>

        </tr>
        <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
        </tr>
    </table>

    <script>
        jQuery.ajax({
            type: "post",
            url: '/detail_data',
            dataType: "json",
            success: function(result) {
                alert(result);
            } })
    </script>


</body>
</html>