<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主頁</title>
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body id="aaa">

    <table>
        <tr>
            <td>姓名</td>
            <td>性別</td>
            <td>生日</td>
            <td>身高</td>
            <td>體重</td>
        </tr>
        <tr>
            <td><input type="text" th:value="${name}"></td>
            <td><input type="text" th:value="${gender}"></td>
            <td><input type="text" th:value="${birthday}"></td>
            <td><input type="text" th:value="${height}"></td>
            <td><input type="text" th:value="${weight}"></td>
            <td><input type="button" value="新增"></td>
            <td><input type="button" value="修改"></td>
        </tr>
    </table>
</body>
</html>